.User-name{
    width: 100%;
    height: auto;

    .User-container{
        width: 1200px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        // justify-content: center;
        align-items: center;
        border: 1px solid black;

        .Logo{
            width: 450px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;


            img{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 1px solid black;
                margin: 0 auto;


            }


            .logo-text{
                width: 100%;
                height: auto;
                text-align: center;
                margin: 20px 0;

                h1{
                    font-size: 79px;
                }

                .btn-grup{
                    display: flex;
                    gap: 15px;
                    margin: 20px auto;
                    justify-content: center;
                }

                
            }

        }

    }

}